language: python
before_install:
- sudo add-apt-repository --yes ppa:fontforge/fontforge
- sudo apt-get update -qq
- sudo apt-get install python-fontforge
- cp /usr/lib/python2.7/dist-packages/fontforge.* "$HOME/virtualenv/python2.7.8/lib/python2.7/site-packages"
install:
- pip install git+https://github.com/behdad/fontTools.git
- pip install git+https://github.com/googlefonts/fontcrunch.git
- pip install git+https://github.com/googlefonts/fontbakery-cli.git
- pip install jinja2
before_script:
- mkdir -p builds/build
script: PATH=/home/travis/virtualenv/python2.7.8/bin/:$PATH fontbakery.py . | tee builds/build/build.log
branches:
  only:
  - master
after_script:
- rm -rf builds/build/sources
- PATH=/home/travis/virtualenv/python2.7.8/bin/:$PATH bakery-report.py builds/build
- PATH=/home/travis/virtualenv/python2.7.8/bin/:$PATH travis-deploy.py
- rm -rf builds/build/build.state.yaml
env:
  global:
    secure: ZshEbn5feBANMeoQ4EQ5j5AHsdjTuZMUjSUbUoYHNT5f2tpZEsnVUQ/vPdSDg7MWfEwGJxcTDhB+C3EWA9B7AGOI0kGMSFmSMcwSrorFJcWMeiHw3ghD7F9ev2LX11c2uJxbkZmNnoiOY86N5mitSvU97s9rrJuR76D8BMHVGxg=
